@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@addTagHelper *, AuthoringTagHelpers
@using Models
@model LoginModel
@{
}


<form method="post" asp-page-handler="OnPostAsync" asp-page="/Account/Login">
    <div>
        User Name<input type="text" placeholder="User Name" name="Username" />
    </div>
    <div>
        Password<input type="password" placeholder="Password" name="Password" />
    </div>
    <div class="d-flex ">
        <input type="submit" class="brand-btn" value="Login" />
    </div>
</form>