@page
@model SignalRAssignment.Pages.Account.LoginModel
@{
}

<form method="post">
    <div>
        User Name<input type="text" placeholder="User Name" name="Username" />
    </div>
    <div>
        Password<input type="password" placeholder="Password" name="Password" />
    </div>
    <div class="d-flex ">
        <input type="submit" class="brand-btn" value="Login" />
    </div>
</form>