@page
@model RegisterModel
@{
    var id = ViewData["newID"] as string;
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" hidden>
        <label asp-for="Account.AccountId" class="control-label"></label>
        <input asp-for="Account.AccountId" class="form-control" value="@id" />
        <span asp-validation-for="Account.AccountId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.UserName" class="control-label"></label>
        <input asp-for="Account.UserName" class="form-control" />
        <span asp-validation-for="Account.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.Password" class="control-label"></label>
        <input asp-for="Account.Password" class="form-control" />
        <span asp-validation-for="Account.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.FullName" class="control-label"></label>
        <input asp-for="Account.FullName" class="form-control" />
        <span asp-validation-for="Account.FullName" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Account.Type" class="control-label"></label>
        <input asp-for="Account.Type" class="form-control" value="0"/>
        <span asp-validation-for="Account.Type" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

