@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link href="@Url.Content("/Contents/css/site.css")" rel="stylesheet" />
</head>
<div class="mad">
    sadsa
</div>